#h{
	color: #FFF;
!important;	font-size: 36px;}
float:right;}
.col-md-3 col-xs-6{float:right;}
p{color:#FFF;}
a{color:#FFF;}
#sth{background-color:#ebeef4;}
.top{background-color:#00F;}
.col-md-7 col-xs-6{float:right;}
#signup{background-color:#ebeef4;
float:left;}
.yo{border-radius:20px;}
form input{border-radius:3px;
color:#333;}
.col-md-1 col-xs-6{float:left;}
.wrapper form{margin-top:20px}
.wrapper input,.wrapper p{margin:0; padding:0;}
  